{% extends 'base.html.twig' %}

{% block nav_items %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('user_home') }}">Accueil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
    </li>
{% endblock %}

{% block body %}
    <p>Bievenue <b>{{ app.user.username }}</b> !</p>

    {% if list|length > 1 %}
        <ul>
            {% for elem in list %}
                {% if elem.username != app.user.username %}
                    <li><b>{{ elem.username }}</b> du pôle {{ elem.pole }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <p class="alert alert-warning">Aucune suggestion pour vous..</p>
    {% endif %}
{% endblock %}