{% extends 'base.html.twig' %}

{% block nav_items %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('user_home') }}">Accueil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
    </li>
{% endblock %}

{% block body %}
    <div>
        <img class="profile_image" src="{{ asset('img/anonyme.jpg') }}">
    </div>
    <h1>{{ user.username }}</h1>
    {{ form_start(form_user) }}
    {{ form_row(form_user.forename) }}
    {{ form_row(form_user.lastname) }}
    {{ form_row(form_user.age) }}
    {{ form_row(form_user.sexe) }}
    {{ form_row(form_user.phone) }}
    {{ form_row(form_user.email) }}
    {{ form_row(form_user.pole) }}
    <button type="submit" class="btn btn-goovies">Enregistrer</button>
    {{ form_end(form_user) }}
{% endblock %}